<div id="filterrific_results">
<table>
    <thead>
    <tr>
      <th>Picture</th>
      <th>English</th>
      <th>Phonetic</th>
      <th>Category</th>
      <th>Language</th>
    </tr>
    </thead>
  <% @articles.each do |article| %>
    
 <tbody>
     <tr>
   
        <td><%= link_to image_tag(article.picture_url, width: 50), article_path(article) if article.picture.present? %></td>
        <td><%= article.english %></td>
        <td><%= article.phonetic %></td>
        <td><%= article.category.try(:name) %></td>
        <td><% if article.language.present? %>
                    <%= article.language.name %>
                <% end %>
        </td>
   </tr>
    </tbody>
   <% end %>
  
 </table>
</div>










