<header class="app-bar promote-layer">
    <div class="app-bar-container">
        <button class="menu"><span class="icon-menu"></span></button>

        <div class="Heading">
            <h1 class="title"><span>Articles</span></h1>
        </div>
    </div>
</header>
<main>
    <div class="AppControls">
        <div class="AppControls--box AppControls-left">
        <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Categories" %>
        <%= submit_tag "Search" %>
        <% end %> 
            
       </div>

        <div class="AppControls--box AppControls-middle"></div>

        <div class="AppControls--box AppControls-right">
            <a class="button--icontext button--ricontext" href="<%= new_article_path %>"><i class="icon-plus"></i> <span>New Photo</span></a>
        </div>
    </div>

    <div class="CardListTable">
        <ul class="CardListTable-body">
            <%= render partial: 'article', collection: @articles %>
        </ul>
    </div>

   
</main>
